html {
  scroll-behavior: smooth;
}

:root {
  --red: #9a3231;
  --darkred: #751312;
  --lightred: #e9706f;
  --superwhite: #f0f0f0;
  --lightgrey: #cfcfcf;
  --darkblue: #182546;
  --darkblue2: rgba(24, 37, 70, 0.75);
  --normalgrey: #878787;
  --blendblue: #5b647c;
  --borderSize: 2px;
  --logoYoutube: #ff0000;
  --logoFacebook: #4267b2;
  --logoInstagram: #8a3ab9;
  --bgWhite: white;
  --fontWhite: white;
  --iconWhite: white;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

/*
* {
  color: #ffff00 !important;
  background-color: black !important;
}

:root {
  --red: #ffff00 !important;
  --darkred: #ffff00 !important;
  --lightred: #ffff00 !important;
  --superwhite: #ffff00 !important;
  --lightgrey: #ffff00 !important;
  --darkblue: #ffff00 !important;
  --darkblue2: #ffff00 !important;
  --normalgrey: #ffff00 !important;
  --blendblue: #ffff00 !important;
  --borderSize: 2px;
  --logoYoutube: #ffff00 !important;
  --logoFacebook: #ffff00 !important;
  --logoInstagram: #ffff00 !important;
}
*/

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--bgWhite);
  color: var(--fontWhite);
  margin: 0px;
}

body .width100 {
  width: 100%;
}

body .center {
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
}

/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header {
  background-color: var(--red);
}

#topHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--red);
}

#topHeader a {
  text-decoration: none;
  color: var(--fontWhite);
}

.topContact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 70px;
}

.topContact a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.topConEmail,
.topConPhone {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 5px 15px 5px 15px;
}

.topConEmail svg,
.topConPhone svg {
  width: 25px;
  height: 25px;
  fill: var(--iconWhite);
}

.topConEmail span {
  margin-left: 8px;
  margin-right: 5px;
}

.topConPhone span {
  margin-left: 5px;
  margin-right: 5px;
}

.topSettings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.topSettings > a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.topSetContrastLetters {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 120%;
  font-weight: 500;
}

.topSetContrastBtn {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 3px 15px 3px 15px;
}

.topSetContrastBtn svg {
  width: 25px;
  height: 25px;
  fill: var(--iconWhite);
}

.topSetContrastLetters div {
  margin-left: 10px;
  margin-right: 10px;
}

.topSetContrastBtn span {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 90%;
}

.topSetContrastLetters a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

@media only screen and (max-width: 800px) {
  .topContact {
    display: none;
  }
}

/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/

nav {
  color: var(--darkblue);
  font-weight: 500;
  background-color: var(--bgWhite);
}

.mainNav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--bgWhite);
}

.mainNavLogo {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
}

.mainNavLogo svg {
  width: 80px;
  height: 80px;
  margin: 10px;
  fill: var(--darkblue);
}

@media only screen and (max-width: 900px) {
  .mainNavLogo svg {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .mainNavLogo svg {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .mainNavLogo svg {
    width: 50px;
    height: 50px;
  }
}

.mainNavLogo a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.mainNavLogo a:hover {
  -o-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

.mainNavButtons {
  display: flex;
  flex-direction: row;
  color: var(--darkblue);
}

.mainNavList {
  display: flex;
}

.navbarico {
  display: none;
}

@media screen and (max-width: 1039px) {
  .burger div {
    width: 25px;
    height: 5px;
    background-color: var(--red);
    margin: 4px;
    border-radius: 120px;
  }

  nav {
    position: relative;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -35%);
    z-index: 2;
  }

  .mainNavList {
    margin-left: -300px;
    padding-left: 25px;
    top: 14.5vh;
    position: absolute;
    background: #9a3231;
    height: 75vh;
    width: 100%;
    flex-direction: column;
    transform: translateX(100%);
    pointer-events: none;
  }
  .mainNavList.open {
    transform: translateX(5.5%);
    transition: 0.5s ease-in;
  }

  .navbarico {
    display: flex;
  }
}

.mainNavList li {
  list-style: none;
  position: relative;
  margin: 10px;
  display: inline-block;
  color: var(--darkblue);
}

.mainNavList li > a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 35px;
  height: 35px;
  color: var(--darkblue);
}

.mainNavList li > a:hover {
  color: var(--fontWhite);
  background: var(--red);
  border-radius: 2px;
}

.mainNavList li ul {
  position: absolute;
  left: 0;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
}

.mainNavList li ul > li {
  list-style: none;
  display: block;
  min-width: 280px;
  margin: 0;
}

.mainNavList li ul > li:hover {
  background: var(--red);
}

.mainNavList li ul > li:hover > a {
  background: var(--red);
  color: var(--fontWhite);
}

.mainNavList li:hover > .drop {
  display: block;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 10, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.mainNavList img {
  max-width: 15px;
}

/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/
/* MAIN SECTION*/

section {
  display: flex;
  background-image: url("./files/graphic/banner-nowy-targ.png"); /* The image used */
  background-color: var(--bgWhite); /* Used if the image is unavailable */
  height: 600px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.sectionMain {
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
  font-weight: 500;
  font-size: 47px;
}

.sectionMainTitle {
  padding-bottom: 10%;
  line-height: 60px;
}

.sectionMainTitle > span {
  padding-left: 80px;
}

.mainTitle {
  background-color: var(--darkblue2);
  padding: 10px 80px 10px 80px;
}

@media only screen and (max-width: 820px) {
  .sectionMain {
    font-size: 40px;
  }
  .sectionMainTitle {
    line-height: 50px;
  }
  section {
    height: 500px;
  }
  .mainTitle {
    padding: 10px 45px 10px 70px;
  }
  .sectionMainTitle > span {
    padding-left: 70px;
  }
}

@media only screen and (max-width: 680px) {
  .sectionMain {
    font-size: 30px;
  }
  .sectionMainTitle {
    line-height: 38px;
  }
  section {
    height: 450px;
  }
  .mainTitle {
    padding: 10px 22px 10px 60px;
  }
  .sectionMainTitle > span {
    padding-left: 60px;
  }
}

@media only screen and (max-width: 530px) {
  .sectionMain {
    font-size: 26px;
  }
  .sectionMainTitle {
    line-height: 35px;
  }
  section {
    height: 350px;
  }
  .mainTitle {
    padding: 10px 22px 10px 22px;
  }
  .sectionMainTitle > span {
    padding-left: 22px;
  }
}

@media only screen and (max-width: 350px) {
  .sectionMain {
    font-size: 20px;
  }
  .sectionMainTitle {
    line-height: 20px;
  }
  section {
    height: 300px;
  }
  .mainTitle {
    padding: 10px 20px 10px 30px;
  }
  .sectionMainTitle > span {
    padding-left: 30px;
  }
}

/* MAIN BODY */
/* MAIN BODY */
/* MAIN BODY */
/* MAIN BODY */
/* MAIN BODY */
/* MAIN BODY */
/* MAIN BODY */
/* MAIN BODY */
/* MAIN BODY */

main {
  display: flex;
  margin-top: -10px;
  flex-wrap: wrap;
  color: var(--darkblue);
}

.mainBody {
  width: 100%;
  margin-top: -10%;
  background-color: var(--bgWhite);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}

.secondNav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  width: 100%;
}

/*
.secondNav div {
  border: var(--borderSize) solid green;
}
*/

.secondNav a {
  text-decoration: none;
  color: var(--darkblue);
}

.secDivElement {
  display: flex;
  padding: 30px 100px 30px 100px;
  align-items: center;
  flex-direction: column;
}

.secDivElement:hover {
  background-color: var(--superwhite);
}

.secDivElement svg {
  height: 50px;
  width: 50px;
  margin-bottom: 10px;
  fill: var(--red);
}

@media only screen and (max-width: 922px) {
  .secDivElement {
    padding: 20px 66px 20px 66px;
  }

  .secondNav {
    font-size: 15px;
  }

  .secDivElement svg {
    height: 40px;
    width: 40px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 720px) {
  .secDivElement {
    padding: 15px 50px 15px 50px;
  }

  .secondNav {
    font-size: 15px;
  }

  .secDivElement svg {
    height: 35px;
    width: 35px;
    margin-bottom: 6px;
  }
}

@media only screen and (max-width: 550px) {
  .secDivElement {
    padding: 15px 40px 15px 40px;
  }

  .secondNav {
    font-size: 15px;
  }

  .secDivElement svg {
    height: 35px;
    width: 35px;
    margin-bottom: 6px;
  }
}

/* NEWS SECTION */
/* NEWS SECTION */
/* NEWS SECTION */
/* NEWS SECTION */
/* NEWS SECTION */
/* NEWS SECTION */
/* NEWS SECTION */
/* NEWS SECTION */

.newsSectionTitle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  font-size: 35px;
  font-weight: 500;
}

.newsSectionTitleText {
  margin: 30px 40px 10px 40px;
}

@media only screen and (max-width: 922px) {
  .newsSectionTitleText {
    font-size: 30px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 720px) {
  .newsSectionTitleText {
    font-size: 28px;
  }
}

.smallLine {
  height: 2px;
  width: 50%;
  margin: 40px 40px 20px 40px;
  background-color: var(--lightgrey);
}

.newsSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
  padding: 40px;
  gap: 3%;
  justify-content: space-around;
  font-weight: 500;
}

.newsElement {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px;
  height: 450px;
  background-color: var(--bgWhite);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  border: 1px solid var(--lightgrey);
}

.newsElement a {
  text-decoration: none;
  color: var(--red);
}

.newsElement a:hover {
  color: var(--darkred);
}

.newsElImage {
  height: 50%;
}

.newsElImage img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  max-height: 100%;
}

.newsElTitle {
  text-align: left;
  font-size: 25px;
  overflow-wrap: break-word;
  color: var(--darkblue);
  padding: 25px 25px 0 25px;
}

.newsElDate {
  text-align: left;
  font-size: 15px;
  color: var(--normalgrey);
  padding: 15px 25px 0 25px;
}

.newsElShowMore {
  text-align: right;
  position: absolute;
  bottom: 5%;
  right: 5%;
  padding: 15px 25px 0 25px;
}

.newsSectionShowAll {
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 30px;
  color: var(--fontWhite);
  background-color: var(--red);
}

.newsSectionShowAll:hover {
  background-color: var(--darkred);
}

/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */

.logoSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 50px 25px 50px 25px;
  gap: 40px 40px;
  justify-content: space-evenly;
  background-color: var(--blendblue);
}

.logoSection a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.logoSection a:hover {
  -o-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.footerMain {
  display: flex;
  flex-wrap: wrap;
  color: var(--darkblue);
  justify-content: center;
  margin-top: 10px;
}

.footerMainLeft {
  display: flex;
  flex-direction: column;
  align-items: right;
  align-content: right;
  flex-wrap: wrap;
  padding: 40px;
  border: 1px solid var(--lightgrey);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.ftrLeftSchoolName {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.ftrLeftSchoolLogo svg {
  height: 50px;
  width: 50px;
  fill: var(--darkblue);
}

.ftrLeftSchoolName a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.ftrLeftSchoolName a:hover {
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ftrLeftContact {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 30px;
  color: var(--normalgrey);
}

.ftrLeftContact a {
  color: var(--normalgrey);
}

.ftrLeftElement1,
.ftrLeftElement2,
.ftrLeftElement3 {
  display: flex;
}

.ftrLeftElement1Logo,
.ftrLeftElement2Logo,
.ftrLeftElement3Logo {
  padding-right: 12px;
}

.ftrLeftElement1Logo svg,
.ftrLeftElement2Logo svg,
.ftrLeftElement3Logo svg {
  height: 35px;
  width: 35px;
  fill: var(--normalgrey);
}

.footerMainRight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 45px;
}

.ftrRightText {
  padding-bottom: 20px;
}

.ftrRightLogoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.ftrRightLogoSection div svg path {
  fill: var(--normalgrey);
}

@media only screen and (max-width: 965px) {
  .footerMainLeft {
    border-right: none;
    border-bottom: 1px solid var(--lightgrey);
  }

  .ftrRightText {
    text-align: center;
  }

  .ftrLeftName {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .ftrLeftContact {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .footerMain {
    flex-direction: column;
  }

  .ftrRightLogoSection {
    justify-content: center;
  }
}

.scrollToTopBtn {
  background-color: white;
  border: none;
  cursor: pointer;
  line-height: 65px;
  width: 65px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
