/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.footerMain {
  display: flex;
  flex-wrap: wrap;
  color: var(--darkblue);
  justify-content: center;
  border: var(--borderSize) solid green;
}

.footerMainLeft {
  display: flex;
  flex-direction: column;
  align-items: right;
  align-content: right;
  flex-wrap: wrap;
  padding: 40px;
  border: 1px solid var(--lightgrey);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.ftrLeftSchoolName {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.ftrLeftSchoolLogo img {
  height: 50px;
}

.ftrLeftContact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: var(--normalgrey);
}

.ftrLeftLocation {
  display: flex;
}

.ftrLeftLocationLogo {
  padding-right: 10px;
}

.ftrLeftLocation img {
  height: 32px;
}

.ftrLeftPhone {
  display: flex;
}

.ftrLeftPhoneLogo {
  padding-right: 10px;
}

.ftrLeftPhone img {
  height: 35px;
}

.footerMainRight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 40px;
}

.ftrRightText {
  padding-bottom: 20px;
}

.ftrRightLogoSection {
  display: flex;
}

@media only screen and (max-width: 891px) {
  .footerMainLeft {
    border-right: none;
  }
}

/*
  .footertop {
    display: flex;
    color: var(--darkblue);
    font-size: 30px;
  }
  
  .footerleft {
    display: flex;
    width: 50%;
    border: 1px solid var(--lightgrey);
    border-top: none;
    border-left: none;
    border-bottom: none;
    flex-direction: column;
  }
  
  .nazwaszkoly {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  .nazwaszkoly img {
    height: 50%;
    margin-right: 3%;
  }
  
  .footerkontakt {
    padding-top: 20px;
    display: flex;
    height: 1px;
  }
  
  .adress {
    padding-top: 20px;
    display: flex;
    height: 30%;
    align-items: center;
    font-size: 17px;
    color: var(--normalgrey);
  }
  
  .footerkontakt img {
    height: 35px;
  }
  
  .footerright {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-left: 5%;
  }
  
  .footersocialtext {
    padding-top: 76px;
    display: flex;
    font-size: 20px;
  }
  
  .footersocial {
    height: 120px;
  }
  
  .footersocial img {
    padding-right: 5%;
    margin-top: 47px;
    height: 30%;
  }
  
  .footersocial img:hover {
    -o-transform: scale(0.93);
    -webkit-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
  }
  
  .footerList {
    display: flex;
    color: black;
    height: 60px;
    justify-content: center;
    font-size: 20px;
    align-items: center;
    border-top: 1px solid var(--lightgrey);
  }
  
  .footerGap {
    height: 40%;
    margin-left: 2%;
    margin-right: 2%;
    border-left: 1px solid var(--lightgrey);
  }
  */
