:root {
  --red: #9a3231;
  --lightgrey: #cfcfcf;
  --darkblue: #182546;
  --normalgrey: #878787;
  --borderSize: 0px;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: black;
  color: white;
  margin: 0px;
}

header {
  display: block;
  border: var(--borderSize) solid yellow;
}

main {
  display: block;
  border: var(--borderSize) solid rgb(255, 0, 242);
}

section {
  display: block;
  border: var(--borderSize) solid rgb(29, 250, 0);
}

/*

#footerLogo a {
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

#footerLogo a:hover {
  background: #0d1a3a;
  -o-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

*/

body .width100 {
  width: 100%;
}

body .center {
  max-width: 1100px;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0px 30px;
}

.headerTop {
  height: 100px;
  border: 1px solid green;
  background-color: var(--red);
}

.headerBottom {
  height: 40px;
  background-color: white;
  color: var(--darkblue)
  border: 1px solid pink;
}

/*floats*/
body .overflowHidden {
  overflow: hidden;
}

.displayNone {
  display: none;
}

/*flex*/
.flexBlock {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.flexStart {
  align-items: flex-start;
}
.flexLeft {
  justify-content: flex-start;
}
.flexRight {
  justify-content: flex-end;
}
.flexColumn {
  flex-direction: column;
  align-items: center;
  display: inline-flex;
  justify-content: center;
}
.flexInline,
#wrap-contact-form104 .rf_submit {
  /*  align-items: baseline;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; */
  display: inline-flex;
  /*  -webkit-flex-flow: row wrap; */
  align-items: center;
  justify-content: space-between;
}
.flexWrap {
  flex-wrap: wrap;
}
.flexFull {
  flex: auto;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
}
