#footernic {
	width: 100%;
	height: 30px;
}

#footerlogo {
	width: 100%;
	height: 19.34%;
	text-align: center;

	padding-top: 3%;
	padding-bottom: 3%;
}

#footerlogo img {
	height: 100%;
	margin: 0 auto;
	width: 100px;
	height: 100px;
}

#footernic2 {
	width: 100%;
	height: 9.21%;
	text-align: center;
}

#footerlista {
	width: 100%;
	height: 8.29%;
	text-align: center;
	color: white;
	font-weight: 500;
}

#footerlista a {
	overflow: hidden;
	background: linear-gradient(to right, #86a5ed, #86a5ed 50%, white 0%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	transition: background-position 275ms ease;
}

#footerlista a:hover {
	background-position: 0 100%;
}

#footernic3 {
	width: 100%;
	height: 8.29%;
	text-align: center;
	padding-bottom: 3%;
}

#footerkontakt {
	width: 100%;
	height: 12.89%;
	font-size: 18px;

	padding-bottom: 2%;
}

#footer-copy {
	width: 100%;
	height: 27.25%;
	text-align: center;
	font-size: 15px;
	color: grey;

	padding-top: 3%;
}

#footer-copy a {
	text-decoration: none;
	cursor: pointer;
}

.kropka {
	padding-left: 10px;
	padding-right: 10px;
}

.kropka2 {
	margin-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
}

ul {
	margin-left: 3%;
	margin-top: 30px;
	list-style-type: none;
	justify-content: center;
}

a {
	color: inherit;
}

#footerlogo a {
	-o-transition: -o-transform ease-out 0.1s, background 0.2s;
	-ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
	-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
	transition: transform ease-out 0.1s, background 0.2s;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 30px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}

#footerlogo a:hover {
	background: #0d1a3a;
	-o-transform: scale(0.93);
	-webkit-transform: scale(0.93);
	-ms-transform: scale(0.93);
	transform: scale(0.93);
}