html {
  scroll-behavior: smooth;
}

:root {
  --red: #9a3231;
  --darkred: #751312;
  --lightred: #e9706f;
  --superwhite: #f0f0f0;
  --lightgrey: #cfcfcf;
  --darkblue: #182546;
  --darkblue2: rgba(24, 37, 70, 0.75);
  --normalgrey: #878787;
  --blendblue: #5b647c;
  --borderSize: 2px;
  --logoYoutube: #ff0000;
  --logoFacebook: #4267b2;
  --logoInstagram: #8a3ab9;
  --bgWhite: white;
  --fontWhite: white;
  --iconWhite: white;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
  
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 10px;
}
  
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-color: var(--bgWhite);
  color: var(--fontWhite);
  margin: 0px;
}

body .width100 {
  width: 100%;
}

body .center {
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
}
  
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header {
  background-color: var(--red);
}

#topHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--red);
}

#topHeader a {
  text-decoration: none;
  color: var(--fontWhite);
}

.topContact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 70px;
}

.topContact a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.topConEmail,
.topConPhone {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 5px 15px 5px 15px;
}

.topConEmail svg,
.topConPhone svg {
  width: 25px;
  height: 25px;
  fill: var(--iconWhite);
}

.topConEmail span {
  margin-left: 8px;
  margin-right: 5px;
}

.topConPhone span {
  margin-left: 5px;
  margin-right: 5px;
}

.topSettings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.topSettings > a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.topSetContrastLetters {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 120%;
  font-weight: 500;
}

.topSetContrastBtn {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 3px 15px 3px 15px;
}

.topSetContrastBtn svg {
  width: 25px;
  height: 25px;
  fill: var(--iconWhite);
}

.topSetContrastLetters div {
  margin-left: 10px;
  margin-right: 10px;
}

.topSetContrastBtn span {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 90%;
}

.topSetContrastLetters a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

@media only screen and (max-width: 800px) {
  .topContact {
    display: none;
  }
}

/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/

.menue {
  display: flex;
  flex-wrap: wrap; /*Na razie zostawiam*/
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  background: var(--background);
  align-items: center;
  z-index: 999;
  width: 100%;
  height: 103px;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: static;
  top: -310px;
  right: 20px;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #9a3231;
  height: 4px;
  width: 25px;
  position: relative;
  border-radius: 120px;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 8px;
}

.nav-toggle-label span::after {
  top: 8px;
}

nav {
  font-weight: 500;
  position: absolute;
  text-align: right;
  padding-right: 20px;
  top: 12%;
  right: 0;
  width: 80%;  
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  background: yellow;
  z-index: 100;
}


nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}


@media screen and (min-width: 1039px) {
  .nav-toggle-label {
    display: none;
  }
  
  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

.menueLogo {
  display: flex;
  flex-wrap: wrap;
  padding-right: 70px;
}

.menueLogo svg {
  width: 80px;
  height: 80px;
  margin: 10px;
  fill: var(--darkblue);
}

@media only screen and (max-width: 900px) {
  .menueLogo svg {
    width: 70px;
    height: 70px;
  }
}

@media only screen and (max-width: 700px) {
  .menueLogo svg {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .menueLogo svg {
    width: 50px;
    height: 50px;
  }
}

.menueLogo a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.menueLogo a:hover {
  -o-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

.menueButtons {
  display: flex;
  flex-direction: row;
  color: var(--darkblue);
}

.navbarico {
  display: none;
}

.menueList li {
  list-style: none;
  position: relative;
  margin: 10px;
  color: var(--darkblue);
}

.menueList li > a {
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  line-height: 35px;
  height: 35px;
  color: var(--darkblue);
}

.menueList li > a:hover {
  color: var(--fontWhite);
  background: var(--red);
  border-radius: 2px;
}

.menueList li ul {
  position: absolute;
  left: 0;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
}

.menueList li ul > li {
  list-style: none;
  display: block;
  min-width: 280px;
  margin: 0;
}

.menueList li ul > li:hover {
  background: var(--red);
}

.menueList li ul > li:hover > a {
  background: var(--red);
  color: var(--fontWhite);
}

.menueList li:hover > .drop {
  display: block;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 10, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.menueList img {
  max-width: 15px;
}
  
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  
  section {
    display: flex;
  
    background-image: url("../files/graphic/banner-nowy-targ.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 250px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  
  .sectionMain {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 27px;
  }
  
  .sectionMainTitle {
    padding-bottom: 5%;
    line-height: 40px;
  }
  
  .sectionMainTitle > span {
    padding-left: 80px;
  }
  
  .mainTitle {
    background-color: var(--darkblue2);
    padding: 10px 80px 10px 80px;
  }
  
  @media only screen and (max-width: 820px) {
    .sectionMain {
      font-size: 25px;
    }
    .sectionMainTitle {
      line-height: 40px;
    }
    section {
      height: 250px;
    }
    .mainTitle {
      padding: 10px 45px 10px 70px;
    }
    .sectionMainTitle > span {
      padding-left: 70px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    .sectionMain {
      font-size: 23px;
    }
    .sectionMainTitle {
      line-height: 31px;
    }
    section {
      height: 225px;
    }
    .mainTitle {
      padding: 10px 22px 10px 60px;
    }
    .sectionMainTitle > span {
      padding-left: 60px;
    }
  }
  
  @media only screen and (max-width: 530px) {
    .sectionMain {
      font-size: 21px;
    }
    .sectionMainTitle {
      line-height: 29px;
    }
    section {
      height: 200px;
    }
    .mainTitle {
      padding: 10px 22px 10px 22px;
    }
    .sectionMainTitle > span {
      padding-left: 22px;
    }
  }
  
  @media only screen and (max-width: 350px) {
    .sectionMain {
      font-size: 19px;
    }
    .sectionMainTitle {
      line-height: 20px;
    }
    section {
      height: 175px;
    }
    .mainTitle {
      padding: 10px 20px 10px 30px;
    }
    .sectionMainTitle > span {
      padding-left: 30px;
    }
  }
  
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  
  main {
    display: flex;
    margin-top: -10px;
    flex-wrap: wrap;
    color: var(--darkblue);
  }
  
  .mainBody {
    width: 100%;
    margin-top: -5%;
    background-color: white;  
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  }

  .mainSection { 
    justify-content: left;
    text-align: left;
    float: left;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    color: black;
    font-size: 15px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    border-radius: 20px;
  }

  .mainSection a {
    text-align: justify;
    flex-wrap: nowrap;
    line-height: 25px;
    text-indent: 0.2em;
  }

  .mainSectionTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-size: 35px;
    font-weight: 500;    
    width: 100%;
  }
  
  .mainSectionTitleText {
    margin: 30px 40px 10px 40px;
    display: inline-block;
  }
  
  @media only screen and (max-width: 922px) {
    .mainSectionTitleText {
      font-size: 30px;
      margin-bottom: 0;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .mainSectionTitleText {
      font-size: 28px;
    }
  }

  .smallLine {
    height: 2px;
    width: 60%;
    /* max-width: 800px */
    margin: 40px 40px 20px 40px;
    background-color: var(--lightgrey);
  }

  .mainSectionContent {
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    text-align: justify;
    flex-wrap: nowrap;
    line-height: 25px;
  }

  /* Div równający content w sectionContencie
  
  .mainSectionContentText {

  }
  */

  .mainSectionContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }

/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */

.logoSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 50px 25px 50px 25px;
  gap: 40px 40px;
  justify-content: space-evenly;
  background-color: var(--blendblue);
}

.logoSection a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.logoSection a:hover {
  -o-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.footerMain {
  display: flex;
  flex-wrap: wrap;
  color: var(--darkblue);
  justify-content: center;
  margin-top: 10px;
}

.footerMainLeft {
  display: flex;
  flex-direction: column;
  align-items: right;
  align-content: right;
  flex-wrap: wrap;
  padding: 40px;
  border: 1px solid var(--lightgrey);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.ftrLeftSchoolName {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.ftrLeftSchoolLogo svg {
  height: 50px;
  width: 50px;
  fill: var(--darkblue);
}

.ftrLeftSchoolName a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.ftrLeftSchoolName a:hover {
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ftrLeftContact {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 30px;
  color: var(--normalgrey);
}

.ftrLeftContact a {
  color: var(--normalgrey);
}

.ftrLeftElement1,
.ftrLeftElement2,
.ftrLeftElement3 {
  display: flex;
}

.ftrLeftElement1Logo,
.ftrLeftElement2Logo,
.ftrLeftElement3Logo {
  padding-right: 12px;
}

.ftrLeftElement1Logo svg,
.ftrLeftElement2Logo svg,
.ftrLeftElement3Logo svg {
  height: 35px;
  width: 35px;
  fill: var(--normalgrey);
}

.footerMainRight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 45px;
}

.ftrRightText {
  padding-bottom: 20px;
}

.ftrRightLogoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.ftrRightLogoSection div svg path {
  fill: var(--normalgrey);
}

@media only screen and (max-width: 965px) {
  .footerMainLeft {
    border-right: none;
    border-bottom: 1px solid var(--lightgrey);
  }

  .ftrRightText {
    text-align: center;
  }

  .ftrLeftName {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .ftrLeftContact {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .footerMain {
    flex-direction: column;
  }

  .ftrRightLogoSection {
    justify-content: center;
  }
}

/* SCROLLBTN */
/* SCROLLBTN */
/* SCROLLBTN */
/* SCROLLBTN */
/* SCROLLBTN */

.scrollToTopBtn {
  border: none;
  cursor: pointer;
  line-height: 65px;
  width: 70px;
  height: 70px;
  position: fixed;
  display: flex;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

@media only screen and (max-width: 965px) {
  .scrollToTopBtn {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 710px) {
  .scrollToTopBtn {
    width: 50px;
    height: 50px;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
