html {
  scroll-behavior: smooth;
}

:root {
  --red: #9a3231;
  --darkred: #751312;
  --lightred: #e9706f;
  --superwhite: #f0f0f0;
  --lightgrey: #cfcfcf;
  --darkblue: #182546;
  --darkblue2: rgba(24, 37, 70, 0.75);
  --normalgrey: #878787;
  --blendblue: #5b647c;
  --borderSize: 2px;
  --logoYoutube: #ff0000;
  --logoFacebook: #4267b2;
  --logoInstagram: #8a3ab9;
  --bgWhite: white;
  --fontWhite: white;
  --iconWhite: white;
  --burger: #9a3231;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}
  
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #878787;
  border-radius: 10px;
}
  
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--bgWhite);
  color: var(--fontWhite);
  margin: 0px;
}

body .width100 {
  width: 100%;
}

body .center {
  max-width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
}

body a {
  text-decoration: none;
}
  
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

header {
  background-color: var(--red);
}

#topHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 3%;
  padding-right: 3%;
  background-color: var(--red);
}

#topHeader a {
  text-decoration: none;
  color: var(--fontWhite);
}

.topContact {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 70px;
}

.topContact a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.topConEmail,
.topConPhone {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 5px 15px 5px 15px;
}

.topConEmail svg,
.topConPhone svg {
  width: 25px;
  height: 25px;
  fill: var(--iconWhite);
}

.topConEmail span {
  margin-left: 8px;
  margin-right: 5px;
}

.topConPhone span {
  margin-left: 5px;
  margin-right: 5px;
}

.topSettings {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.topSettings > a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

.topSettingsLetters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 450;
  font-size: 110%;
  width: 100px;
}

.topSetContrastLetter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.topSetContrastLetter:hover {
  background-color: var(--darkred);
  cursor: pointer;
}

.topSetContrastBtn {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 3px 15px 3px 15px;
}

.topSetContrastBtn svg {
  width: 25px;
  height: 25px;
  fill: var(--iconWhite);
}

.topSetContrastLetters div {
  margin-left: 10px;
  margin-right: 10px;
}

.topSetContrastBtn span {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 90%;
}

.topSetContrastLetters a:hover {
  background-color: var(--darkred);
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

@media only screen and (max-width: 830px) {
  .topContact {
    display: none;
  }
}

/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/
/* MAIN NAV*/

.menue {
  display: flex;
  flex-wrap: wrap; /*Na razie zostawiam*/
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  background: var(--background);
  align-items: center;
  z-index: 999;
  width: 100%;
  height: 103px;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav {
  float: right;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  text-align: left;
  z-index: 999;
}

/* link na całym kafelku */
nav a {
  display: block;
  line-height: 25px;
}

nav ul {
  float: right;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  background: white;
}

/* lineheight bocznego navu */
nav ul li a {
  color: #182546;
  line-height: 50px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  padding: 8px 15px;
}

nav ul li a:hover {
  color: var(--red);
  border-radius: 5px;
}

nav ul ul li a:hover {
  box-shadow: none;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #9a3231;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
  margin-top: 6px;
}

nav ul ul ul {
  border-top: none;
}

nav ul li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 213px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
}

/* lineheight menu rozwijanego */
nav ul ul li a {
  line-height: 25px;
}

.show,
input {
  display: none;
}

.fa-plus {
  font-size: 100%;
  margin-right: 40px;
}

.arrow {
  display: none;
}

/* MENU dla mniej niż ???px*/
@media all and (max-width: 970px) {
  nav ul li {
    display: inline-block;
    background: rgba(255,255,255, 0.7);
  }
  
  nav ul {
    margin-right: -27px;
    float: right;
    text-align: center;
  }

  .thinnerfont {
    margin-left: 15px;
    color: #182546;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
  }

  nav {
    padding-right: 0px;
    width: 100%;
    padding-top: 10px;
  }

  nav ul li:hover > ul {
    display: block;
    width: 0px;
  }

  .show + a,
  ul {
    display: none;
    margin-top: -10px;
  }

  nav ul li,
  nav ul ul li {
    display: block;
    width: 300px;    
  }

  nav ul li a:hover {
    box-shadow: none;
  }

  .show {
    display: block;
    padding: 8px 15px;
    color: #182546;
    line-height: 50px;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    cursor: pointer;
  }

  label.icon {
    height: 80px;
    align-items: center;
    margin-top: -90px;
  }

  .icon {
    position: static;
    display: flex;
    width: 45px;
    height: 80px;
    cursor: pointer;
    float: right;
  }

  nav ul li a {
    font-weight: 600;
  }

  .menu-btn__burger {
    content: "";
    width: 30px;
    height: 5px;
    background-color: var(--burger);
    border-radius: 90px;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: var(--burger);
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: var(--burger);
    border-radius: 90px;
    transition: all 0.2s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-12px);
  }

  .menu-btn__burger::after {
    transform: translateY(12px);
  }

  /* animacja */
  .icon.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }

  .icon.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }

  .icon.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul a {
    padding-right: 40px;
  }

  nav ul ul ul a {
    padding-right: 80px;
  }

  nav ul ul ul li {
    position: static;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }

  nav ul ul li {
    border-bottom: 0px;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    margin-left: 10px;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

.menueLogo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-right: 70px;
}

@media all and (max-width: 980px) {
  label.icon{
    height: 80px;
    align-items: center;
    margin-top: -100px;
  }
}

.menueLogo svg {
  width: 80px;
  height: 80px;
  margin: 10px;
  fill: var(--darkblue);
}

@media only screen and (max-width: 900px) {
  .menueLogo svg {
    width: 70px;
    height: 70px;
    margin: 10px;
    fill: var(--darkblue);
    padding-top: 5px;
  }

  label.icon{
    height: 80px;
    align-items: center;
    margin-top: -90px;
  }
}

@media only screen and (max-width: 700px) {
  label.icon{
    height: 80px;
    align-items: center;
    margin-top: -90px;
  }
}

.menueLogo a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.menueLogo a:hover {
  -o-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

.menueButtons {
  display: flex;
  flex-direction: row;
  color: var(--darkblue);
}

.menueList li {
  list-style: none;
  position: relative;
  margin: 10px;
  color: var(--darkblue);
}

.menueList li > a {
  position: relative;
  text-decoration: none;
  padding: 0 10px;
  line-height: 35px;
  height: 35px;
  color: var(--darkblue);
}

.menueList li > a:hover {
  color: var(--fontWhite);
  background: var(--red);
  border-radius: 2px;
}

.menueList li ul {
  position: absolute;
  left: 0;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: none;
}

.menueList li ul > li {
  list-style: none;
  display: block;
  min-width: 280px;
  margin: 0;
}

.menueList li ul > li:hover {
  background: var(--red);
}

.menueList li ul > li:hover > a {
  background: var(--red);
  color: var(--fontWhite);
}

.menueList li:hover > .drop {
  display: block;
  animation: fadeInRight 0.3s ease;
  -webkit-animation: fadeInRight 0.3s ease;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 10, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.menueList img {
  max-width: 15px;
}

  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  /* MAIN SECTION*/
  
  section {
    display: flex;
  
    background-image: url("../files/graphic/banner-nowy-targ.png"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 250px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  
  .sectionMain {
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 180%;
  }
  
  .sectionMainTitle {
    padding-bottom: 5%;
    line-height: 40px;
  }
  
  .sectionMainTitle > span {
    padding-left: 80px;
  }
  
  .mainTitle {
    background-color: var(--darkblue2);
    padding: 10px 80px 10px 80px;
  }
  
  @media only screen and (max-width: 820px) {
    .sectionMain {
      font-size: 160%;
    }
    .sectionMainTitle {
      line-height: 40px;
    }
    section {
      height: 250px;
    }
    .mainTitle {
      padding: 10px 45px 10px 70px;
    }
    .sectionMainTitle > span {
      padding-left: 70px;
    }
  }
  
  @media only screen and (max-width: 680px) {
    .sectionMain {
      font-size: 140%;
    }
    .sectionMainTitle {
      line-height: 31px;
    }
    section {
      height: 225px;
    }
    .mainTitle {
      padding: 10px 22px 10px 60px;
    }
    .sectionMainTitle > span {
      padding-left: 60px;
    }
  }
  
  @media only screen and (max-width: 570px) {
    .sectionMain {
      font-size: 120%;
    }
    .sectionMainTitle {
      line-height: 29px;
    }
    section {
      height: 200px;
    }
    .mainTitle {
      padding: 10px 22px 10px 22px;
    }
    .sectionMainTitle > span {
      padding-left: 22px;
    }
  }
  
  @media only screen and (max-width: 470px) {
    .sectionMain {
      font-size: 100%;
    }
    .sectionMainTitle {
      line-height: 20px;
    }
    section {
      height: 175px;
    }
    .mainTitle {
      padding: 10px 20px 10px 30px;
    }
    .sectionMainTitle > span {
      padding-left: 20px;
    }
  }

  @media only screen and (max-width: 350px) {
    .sectionMain {
      font-size: 80%;
    }
    section {
      height: 150px;
    }
  }

  
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  /* MAIN BODY */
  
  main {
    display: flex;
    margin-top: -10px;
    flex-wrap: wrap;
    color: var(--darkblue);
  }
  
  .mainBody {
    width: 100%;
    margin-top: -5%;
    background-color: white;  
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
  }

  .mainSection { 
    justify-content: left;
    text-align: left;
    float: left;
    position: relative;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    color: black;
    font-size: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    border-radius: 20px;
  }

  .mainSection a {
    text-align: justify;
    flex-wrap: nowrap;
    line-height: 25px;
    text-indent: 0.2em;
    color: var(--red);
  }

  .mainSectionTitle {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    font-weight: 500;    
    width: 100%;
  }
  
  .mainSectionTitleText {
    margin: 30px 40px 10px 40px;
    display: inline-block;
    font-size: 240%;
  }
  
  @media only screen and (max-width: 922px) {
    .mainSectionTitleText {
      font-size: 200%;
      margin-bottom: 0;
    }
  }
  
  @media only screen and (max-width: 720px) {
    .mainSectionTitleText {
      font-size: 150%;
    }
  }

  .smallLine {
    height: 2px;
    width: 60%;
    /* max-width: 800px */
    margin: 40px 40px 20px 40px;
    background-color: var(--lightgrey);
  }

  .mainSectionContent {
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    font-size: 95%;
    font-weight: 400;
    width: 100%;
    text-align: justify;
    flex-wrap: nowrap;
    line-height: 25px;
  }

  .mainSectionContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
  }

  /* Div równający content w sectionContencie
  
  .mainSectionContentText {

  }
  */

  .mainSectionContentGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
  }

  .mainSectionContentGallery img {
    display: inline;
    height: 220px;
    width: 320px; 
  }

  .galEl {
    margin: 5px;
    float: left;
    padding-bottom: 10px;
  }

  .galPh:hover {
    -o-transform: scale(0.9672);
    -webkit-transform: scale(0.9672);
    -ms-transform: scale(0.9672);
    transform: scale(0.9672);
  }

  .galDesc {
    padding: 5px;
    text-align: center;
  }

/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */
/* LOGO SECTION */

.logoSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 50px 25px 50px 25px;
  gap: 40px 40px;
  justify-content: space-evenly;
  background-color: var(--blendblue);
}

.logoSection a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.logoSection a:hover {
  -o-transform: scale(0.93);
  -webkit-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
}

/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

.footerMain {
  display: flex;
  flex-wrap: wrap;
  color: var(--darkblue);
  justify-content: center;
  margin-top: 10px;
}

.footerMainLeft {
  display: flex;
  flex-direction: column;
  align-items: right;
  align-content: right;
  flex-wrap: wrap;
  padding: 40px;
  border: 1px solid var(--lightgrey);
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.ftrLeftSchoolName {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 30px;
  gap: 10px;
}

.ftrLeftSchoolLogo svg {
  height: 50px;
  width: 50px;
  fill: var(--darkblue);
}

.ftrLeftSchoolName a {
  -o-transition: -o-transform ease-out 0.1s, background 0.2s;
  -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
  -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
  transition: transform ease-out 0.1s, background 0.2s;
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.ftrLeftSchoolName a:hover {
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.ftrLeftContact {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 30px;
  color: var(--normalgrey);
}

.ftrLeftContact a {
  color: var(--normalgrey);
}

.ftrLeftElement1,
.ftrLeftElement2,
.ftrLeftElement3 {
  display: flex;
}

.ftrLeftElement1Logo,
.ftrLeftElement2Logo,
.ftrLeftElement3Logo {
  padding-right: 12px;
}

.ftrLeftElement1Logo svg,
.ftrLeftElement2Logo svg,
.ftrLeftElement3Logo svg {
  height: 35px;
  width: 35px;
  fill: var(--normalgrey);
}

.footerMainRight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  padding: 45px;
}

.ftrRightText {
  padding-bottom: 20px;
}

.ftrRightLogoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.ftrRightLogoSection div svg path {
  fill: var(--normalgrey);
}

@media only screen and (max-width: 965px) {
  .footerMainLeft {
    border-right: none;
    border-bottom: 1px solid var(--lightgrey);
  }

  .ftrRightText {
    text-align: center;
  }

  .ftrLeftName {
    display: none;
  }
}

@media only screen and (max-width: 710px) {
  .ftrLeftContact {
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
  }

  .footerMain {
    flex-direction: column;
  }

  .ftrRightLogoSection {
    justify-content: center;
  }
}

/* SCROLLBTN */
/* SCROLLBTN */
/* SCROLLBTN */
/* SCROLLBTN */
/* SCROLLBTN */

.scrollToTopBtn {
  border: none;
  cursor: pointer;
  line-height: 65px;
  width: 70px;
  height: 70px;
  position: fixed;
  display: flex;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s ease;
  background: none !important;
}

.scrollToTopBtn svg path {
  fill: var(--red);
  background: none !important;
}

.scrollToTopBtn svg {
  fill: var(--red);
  background: none !important;
}

@media only screen and (max-width: 965px) {
  .scrollToTopBtn {
    width: 60px;
    height: 60px;
  }
}

@media only screen and (max-width: 710px) {
  .scrollToTopBtn {
    width: 50px;
    height: 50px;
  }
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}
